body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    text-align: right;
    font-size: medium;
    background-color: beige;
}

th {
    background-color: black;
    border: 1px solid white;
    color: white;
    width:  75px;
    text-align: center;
    font-size: small;
}

.svgValley {
    stroke: blue;
    stroke-width: 3;
    stroke-dasharray: 5 3;
}

.svgMountain {
    stroke: red;
    stroke-width: 3;
    stroke-dasharray: 5 3 2 3;
}

.svgValleyCrease {
    stroke: blue;
    stroke-width: 1;
}
.svgMountainCrease {
    stroke: red;
    stroke-width: 1;
}

.monthStyle {
    font-size: large;
    height: 30px;
    vertical-align: middle;
}

.markDate {
    background-color: yellow;
    color: black;
}

.cssFlexAcross {
    display: flex;
    flex-direction: row;
}

.cssFlexDown {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

figure {
    display: flex;
    flex-flow: row;
}

figcaption {
    align-content: center;
    padding: 1%;
}

.rightJustifiedText {
    text-align: right;
}